<!DOCTYPE html>
<html>
<head>
    <title>Make a Prediction</title>
</head>
<body>
    <h2>Enter Features for Prediction</h2>
    <form action="/predict" method="post">
        Feature 1: <input type="text" name="feature1"><br>
        Feature 2: <input type="text" name="feature2"><br>
        Feature 3: <input type="text" name="feature3"><br>
        Feature 4: <input type="text" name="feature4"><br>
        Feature 5: <input type="text" name="feature5"><br>
        Feature 6: <input type="text" name="feature6"><br>
        Feature 7: <input type="text" name="feature7"><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>