<!DOCTYPE html>
<html>
<head>
    <title>Make a Prediction</title>
</head>
<body>
    <h2>Enter Features for Prediction</h2>
    <style>
        .form-group {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
    
        .form-group label {
            flex: 1;
            min-width: 160px;
        }
    
        .form-group input {
            flex: 0 0 20vw; /* Do not grow, do not shrink, width is 20vw */
            max-width: 20vw;
        }
    </style>
    
    <form action="/predict" method="post">
        <div class="form-group">
            <label for="feature1">kWh per Rm. Nights:</label>
            <input type="text" name="feature1" id="feature1">
        </div>
        <div class="form-group">
            <label for="feature2">Demand:</label>
            <input type="text" name="feature2" id="feature2">
        </div>
        <div class="form-group">
            <label for="feature3">Rm. Night:</label>
            <input type="text" name="feature3" id="feature3">
        </div>
        <div class="form-group">
            <label for="feature4">Mean Temperature BKK:</label>
            <input type="text" name="feature4" id="feature4">
        </div>
        <div class="form-group">
            <label for="feature5">Food Covers-Outlet:</label>
            <input type="text" name="feature5" id="feature5">
        </div>
        <div class="form-group">
            <label for="feature6">Cover-Banquet:</label>
            <input type="text" name="feature6" id="feature6">
        </div>
        <div class="form-group">
            <label for="feature7">Total:</label>
            <input type="text" name="feature7" id="feature7">
        </div>
        <input type="submit" value="Predict">
    </form>    
</body>
</html>